<div class="exception-body notfound" style="background: linear-gradient(145.24deg, #2B34B4 -16.61%, #F41E4F 79.52%);height: 100vh;">
    <div class="exception-wrapper">
        <div class="pt-4">
            <div class="text-center">
                <img src="assets/images/1111.png" alt="flogo" height="130">
            </div>
            <div class="exception-content">
                <span>404</span>
                <span class="exception-subtitle text-white">Looks like you are lost.</span>
                <button pbutton="" type="button" class="p-element p-button-sm p-button-raised p-button-primary p-button p-component" routerLink="/login"><span class="p-button-label">Go to Home</span></button>
            </div>
        </div>
    </div>
</div>
