<!-- <div class="grid mx-0 mt-2" style="background-color: #f5f5f5;">
    <div class="col-12 py-2 text-center" style="background-color: #82DD73;border-top-left-radius: 5px;border-top-right-radius: 5px;">
        <p class="mb-0 font-bold text-lg">Recent Uploads</p>
    </div>
    <div class="col-12 md:col-4">
        <div class="flex justify-content-start align-items-center pt-2 px-2">
            <div class="LocImage">
                <img src="assets/images/location.png" alt="STK" height="100" width="100" />
            </div>
            <div class="LocContent pl-2 md:pl-3">
                <div class="flex justify-content-between">
                    <p class="mb-2 text-lg font-bold">Location</p>
                    <span class="text-sm color-05 cp" style="text-decoration: underline;">View</span>
                </div>
                <p class="mb-1 text-sm font-bold">Address: <span class="font-normal">Chennai, Adayar</span></p>
                <p class="mb-1 text-sm font-bold">Added By: <span class="font-normal">Subramanian</span></p>
                <p class="mb-1 text-sm font-bold">Station: <span class="font-normal">Adayar</span></p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="flex justify-content-start align-items-center pt-2 px-2">
            <div class="LocImage">
                <img src="assets/images/location.png" alt="STK" height="100" width="100" />
            </div>
            <div class="LocContent pl-2 md:pl-3">
                <div class="flex justify-content-between">
                    <p class="mb-2 text-lg font-bold">Location</p>
                    <span class="text-sm color-05 cp" style="text-decoration: underline;">View</span>
                </div>
                <p class="mb-1 text-sm font-bold">Address: <span class="font-normal">Chennai, TNagar</span></p>
                <p class="mb-1 text-sm font-bold">Added By: <span class="font-normal">Kumar</span></p>
                <p class="mb-1 text-sm font-bold">Station: <span class="font-normal">T Nagar</span></p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="flex justify-content-start align-items-center pt-2 px-2">
            <div class="LocImage">
                <img src="assets/images/location.png" alt="STK" height="100" width="100" />
            </div>
            <div class="LocContent pl-2 md:pl-3">
                <div class="flex justify-content-between">
                    <p class="mb-2 text-lg font-bold">Location</p>
                    <span class="text-sm color-05 cp" style="text-decoration: underline;">View</span>
                </div>
                <p class="mb-1 text-sm font-bold">Address: <span class="font-normal">Salem Junction</span></p>
                <p class="mb-1 text-sm font-bold">Added By: <span class="font-normal">Muthukuamr</span></p>
                <p class="mb-1 text-sm font-bold">Station: <span class="font-normal">Salem</span></p>
            </div>
        </div>
    </div>
</div>

<div class="grid mx-0 mt-3" style="background-color: #f5f5f5;">
    <div class="col-12 py-2 text-center" style="background-color: #265791;border-top-left-radius: 5px;border-top-right-radius: 5px;">
        <p class="mb-0 font-bold  text-white text-lg">Top Uploads</p>
    </div>
    <div class="col-12 text-right py-2">
        <div class="flex justify-content-end">
            Filters
            <div class="field-checkbox mb-0 px-2">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">Zone</label>
            </div>
            <div class="field-checkbox mb-0 pr-2">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">City</label>
            </div>
            <div class="field-checkbox mb-0 pr-2">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">District</label>
            </div>
            <div class="field-checkbox mb-0 pr-2">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">Station</label>
            </div>
        </div>
    </div>
    <div class="col-6 md:col-2">
        <div class="flex justify-content-center align-items-center pt-2 px-2" style="background: #FA383E; color: #fff;height: 100px;width:100px;border-radius: 50%;">
            <span class="text-5xl">
                50 +
            </span>
        </div>
        <p class="mb-0">Thiruvamiyur Station</p>
    </div>
    <div class="col-6 md:col-2">
        <div class="flex justify-content-center align-items-center pt-2 px-2" style="background: #265791; color: #fff;height: 100px;width:100px;border-radius: 50%;">
            <span class="text-5xl">
                45
            </span>
        </div>
        <p class="mb-0">Tiruvallur Dist.</p>
    </div>
    <div class="col-6 md:col-2">
        <div class="flex justify-content-center align-items-center pt-2 px-2" style="background: #F1B814; color: #fff;height: 100px;width:100px;border-radius: 50%;">
            <span class="text-5xl">
                37
            </span>
        </div>
        <p class="mb-0">Adayar Station</p>
    </div>
    <div class="col-6 md:col-2">
        <div class="flex justify-content-center align-items-center pt-2 px-2" style="background: #18B76B; color: #fff;height: 100px;width:100px;border-radius: 50%;">
            <span class="text-5xl">
                23
            </span>
        </div>
        <p class="mb-0">Salem Station</p>
    </div>
    <div class="col-12 md:col-2">
        <div class="flex justify-content-center align-items-center pt-2 px-2" style="background: #786ADE; color: #fff;height: 100px;width:100px;border-radius: 50%;">
            <span class="text-5xl">
                15
            </span>
        </div>
        <p class="mb-0">Madurai Station</p>
    </div>
</div> -->

<div class="grid">
    <div class="col-12">
        <div class="flex align-items-center justify-content-between mb-2">
            <div class="title">
                <p class="mb-0 text-rblue tex-xl font-bold">Police Station</p>
            </div>
            <div class="btn-top">
                <!-- <button class="add-btn" (click)="openForm()">
                    <svg xmlns="" width="18" viewBox="0 0 20 20" height="18" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#fff"><circle r="7.5" cy="10" cx="10"></circle><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
                    <span class="add-label">Add</span>
                </button> -->
                <!-- <div style="justify-content: flex-end;">
                    <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
                      <mat-option value="all">All</mat-option>
                      <mat-option value="VEHICLE_POINT">VEHICLE POINT</mat-option>
                      <mat-option value="VIP_ROUTES">VIP ROUTES</mat-option>
                      <mat-option value="TRAFFIC_DUTY">TRAFFIC DUTY</mat-option>
                      <mat-option value="GENERAL_CHECK">GENERAL CHECK</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
            </div>
        </div>
        <div class="card">
            <app-dynamic-report-table [dynamaicDataForTable]="dynamaicDataForTable"></app-dynamic-report-table>
        </div>
         
    </div>
</div>
