<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Location Name</mat-label>
                    <input matInput placeholder="Location Name" formControlName="locationName" readonly>
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.locationName?.touched && form?.controls?.locationName?.errors?.required)">Location
                        Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Latitude</mat-label>
                    <input matInput placeholder="Latitude" formControlName="latitude">
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.latitude?.touched && form?.controls?.latitude?.errors?.required)">Latitude
                        is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Longitude</mat-label>
                    <input matInput placeholder="Longitude" formControlName="longitude">
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.longitude?.touched && form?.controls?.longitude?.errors?.required)">Longitude
                        is required</mat-error>
                </mat-form-field>
            </div>
            <div class="mt-2">
                <button mat-raised-button color="primary">Submit</button>
            </div>
            <div class="card p-0" style="margin-top: 10px;flex: 0;">
                <div class="card-header"
                    style="padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;border-bottom: 0.2px solid rgb(87, 82, 82);">
                    <p class="mb-0 tbold color-02">Map</p>
                </div>
                <div class="card-body p-2">
                    <app-dynamic-map-edit (location)="location($event)"></app-dynamic-map-edit>
                </div>
            </div>
        </div>
    </div>
</form>