<div class="container">
    <div class="grid">
        <div class="col-12 pb-0">
            <div class="flex align-items-center justify-content-between mb-2">
                <div class="">
                    <h3 class="mb-0">Attendance History</h3>
                </div>
                <div class="btn-top">
                    <button pButton label="Add" type="button" icon="pi pi-plus" class="p-button-info border5" routerLink="/main/dashboard/attentanceAdd"></button>
                </div>
            </div>
        </div>
        <div class="md:col-12">
            <div class="card">
                <app-dynamic-report-table [dynamaicDataForTable]="dynamaicDataForTable" ></app-dynamic-report-table>
            </div>
        </div>
    </div>
</div>  