<div class="grid">
    <div class="col-12">
       
        <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="card-header" style="background-color:#8484F9; text-align: center; padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;">
                <p class="mb-0 tbold color-02" style="color:white">Task Items</p>
            </div>
            <div class="card">
                <div class="grid mx-0 mt-0" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
                  <div class="col-12 md:col-3" style="text-align: center;" *ngFor="let item of TaskItems">
                    <div class="item-type">
                      <p class="font-semibold" style="white-space: nowrap;">{{ item.type }}</p>
                    </div>
                    <div class="item-image">
                      <img [src]="item.imageSrc" style="height: 50px;" alt="Inventory Item">
                    </div>
                    <div class="item-count">
                      <p class="font-semibold mt-3" style="white-space: nowrap;">{{ item.count }}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="flex align-items-center justify-content-between mb-2 mt-4">
            <div class="title">
                <p class="mb-0 text-rblue tex-xl font-bold">Task List</p>
            </div>

            <div  style="justify-content: flex-end;">
              <mat-form-field>
              <mat-label>Task Types</mat-label>
              <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
                <mat-option value="all">All</mat-option>
                <mat-option value="ABANDONED_VEHICLE">ABANDONED VEHICLE</mat-option>
                <mat-option value="ENCROACHMENT_REPORT">ENCROACHMENT REPORT</mat-option>
                <mat-option value="ROAD_INCIDENT_REPORT">ROAD INCIDENT REPORT</mat-option>
                <mat-option value="GENERAL_INCIDENT_REPORT">GENERAL INCIDENT REPORT</mat-option>
                <mat-option value="CHALLAN">CHALLAN</mat-option>
                <mat-option value="ACCIDENT_REPORT">ACCIDENT REPORT</mat-option>
                <mat-option value="GENERAL_VIOLATER_REPORT">GENERAL VIOLATER REPORT</mat-option>
                <mat-option value="RC_DL_CHECK">RC DL CHECK</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="ml-2">
              <mat-label>Date</mat-label>
              <mat-select [(value)]="selectedDate" (selectionChange)="onSelectionChangedate($event)">
                  <mat-option value="today">Today</mat-option>
                  <mat-option value="yesterday">Yesterday</mat-option>
                  <mat-option value="lastWeek">LastWeek</mat-option>
                  <mat-option value="thisWeek">This Week</mat-option>
                  <mat-option value="lastMonth">Last Month</mat-option>
                  <mat-option value="thisMonth">This Month</mat-option>
                  <mat-option value="lastMonth">Last Year</mat-option>
                  <mat-option value="thisMonth">This Year</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
           
        </div>
        <form [formGroup]="form" (ngSubmit)="getList()">
          <div class="flex" style="justify-content: flex-end;align-items: center;">
              <div class="ml-2" *ngIf="data?.adminId === true">
                  <mat-form-field>
                      <mat-label>Administration</mat-label>
                      <mat-select formControlName="adminId" (selectionChange)="onSelectionadmin($event)">
                          <mat-option *ngFor="let adminList of adminList" [value]="adminList.id"
                              (click)="getZoneList(adminList.id)">
                              {{adminList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="ml-2" *ngIf="data?.zoneId === true">
                  <mat-form-field>
                      <mat-label>Zone</mat-label>
                      <mat-select formControlName="zoneId" (selectionChange)="onSelectionzone($event)">
                          <mat-option *ngFor="let zoneList of zoneList" [value]="zoneList.id"
                              (click)="getRangeList(zoneList.id)">
                              {{zoneList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="ml-2" *ngIf="data?.rangeId === true">
                  <mat-form-field>
                      <mat-label>Range</mat-label>
                      <mat-select formControlName="rangeId" (selectionChange)="onSelectionrange($event)">
                          <mat-option *ngFor="let rangeList of rangeList" [value]="rangeList.id"
                              (click)="getDistrictList(rangeList.id)">
                              {{rangeList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="ml-2" *ngIf="data?.districtId === true">
                  <mat-form-field>
                      <mat-label>District</mat-label>
                      <mat-select formControlName="districtId" (selectionChange)="onSelectiondistrict($event)">
                          <mat-option *ngFor="let districtList of districtList" [value]="districtList.id"
                              (click)="getSubDivision(districtList.id)">
                              {{districtList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="ml-2" *ngIf="data?.subDivisionId === true">
                  <mat-form-field>
                      <mat-label>SubDivision</mat-label>
                      <mat-select formControlName="subDivisionId" (selectionChange)="onSelectionsubDivision($event)">
                          <mat-option *ngFor="let subDivisionList of subDivisionList" [value]="subDivisionList.id"
                              (click)="getPoliceStaion(subDivisionList.id)">
                              {{subDivisionList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="ml-2" *ngIf="data?.policeStationId === true">
                  <mat-form-field>
                      <mat-label>Police Station</mat-label>
                      <mat-select formControlName="policeStationId" (selectionChange)="onSelectionpoliceStation($event)">
                          <mat-option *ngFor="let policeStationList of policeStationList"
                              [value]="policeStationList.id">
                              {{policeStationList.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <!-- <div class="ml-2">
                  <button pButton pRipple type="submit" (click)="getList()" icon="pi pi-search"
                      class="p-button-rounded p-button-success p-button-outlined"></button>
              </div> -->
          </div>
      </form>
        <div class="card">
            <app-dynamic-report-table [dynamaicDataForTable]="dynamaicDataForTable" (onPage)="onPageChange($event)"></app-dynamic-report-table>
        </div>
    </div>
</div>