.p-chip {
    background-color: #fff;
    color: #69707A;
    border-radius: 0px;
    padding: 0 0.5rem;
}
.no-shadow {
    box-shadow: none;
}
select {
    border: 1px solid #D4D6D9;
}
ul li {
    list-style-type: none;
}