<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Location Name</mat-label>
                    <input matInput placeholder="Location Name" formControlName="locationName" readonly>
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.locationName?.touched && form?.controls?.locationName?.errors?.required)">Location
                        Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Latitude</mat-label>
                    <input matInput placeholder="Latitude" formControlName="latitude">
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.latitude?.touched && form?.controls?.latitude?.errors?.required)">Latitude
                        is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Longitude</mat-label>
                    <input matInput placeholder="Longitude" formControlName="longitude">
                    <mat-error id="name-help" class="block text-danger"
                        *ngIf="(form?.controls?.longitude?.touched && form?.controls?.longitude?.errors?.required)">Longitude
                        is required</mat-error>
                </mat-form-field>
                <div *ngIf="!editData">
                    <div class="row col-6">
                        <div class="card p-2">
                            <div class="card-header" style="padding: 8px; border-radius: 8px;">
                                <p class="mb-0 font-weight-bold text-primary">Upload File</p>
                            </div>
                            <div class="card-body p-2" style="display: flex; align-items: center;">
                                <label class="custom-file-upload" for="fileInput"
                                    style="cursor: pointer; margin-left: 10px;">
                                    <input type="file" id="fileInput" style="display: none;"
                                        (change)="onFileSelected($event, 'file')" />
                                    Choose File<span class="form-mandatory-field">*</span>
                                </label>
                                <span *ngIf="selectedFile" class="ml-2">{{ selectedFile.name }}</span>
                                <span *ngIf="fileError" class="text-danger ml-2" style="color: red;">{{ fileError
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!editData" class="mt-2">
                <button mat-raised-button color="primary">Submit</button>
            </div>
            <div class="card p-0" style="margin-top: 10px;flex: 0;">
                <div class="card-header"
                    style="padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;border-bottom: 0.2px solid rgb(87, 82, 82);">
                    <p class="mb-0 tbold color-02">Map</p>
                </div>
                <div class="card-body p-2">
                    <app-dynamic-map-edit [latitude]="latitude" [longitude]="longitude" [locationName]="locationName"
                        (location)="location($event)"></app-dynamic-map-edit>
                </div>
            </div>
            <div *ngIf="editData">
                <div class="col-12 md:col-3">
                    <label class="font-bold">Files</label>
                </div>
                <div class="col-12 md:col-4">
                    <div *ngIf="editData" class="card" style="background-color: #E5F2FF;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 md:col-12">
                                    <div class="attachment" *ngFor="let attachment of editData.attachment"
                                        (click)="downloadAttachment(attachment)"
                                        style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="attachment-details">
                                            <p>{{ attachment.orgFileName }}</p>
                                        </div>
                                        <div class="download-icon" style="cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <path d="M10 17L15 12L10 7" stroke="#212121" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>