.styled-table {
    border-collapse: collapse;
    // margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    color: #000;
    text-align: left;
    font-size: 18px;
    // border-bottom: 2px solid #009879;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #0002A1;
    color: #fff;
}

// .styled-table tbody tr:last-of-type {
//     border-bottom: 2px solid #009879;
// }
.styled-table tbody tr.active-row {
    font-weight: bold;
    // color: #009879;
}
.styled-table tbody tr .bgColor {
    background-color: #009879;
    color: #fff;
}
.styled-table tbody tr .bgRed {
    background-color: #EB6440;
    color: #fff;
}
.styled-table tbody tr .bgBlue {
    background-color: #3B3486;
    color: #fff;
}
.styled-table tbody tr .font-weight {
    font-weight: 700;
}