.card{
    cursor: pointer;
}
.border-highlight{
    padding: 10px;
    border: 1px solid #fbeded;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.grid-inblock {
    display: inline-grid;
}
.flex-align {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.hColor {
    background: -webkit-linear-gradient(rgb(51, 82, 141), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mImg img {
    filter:drop-shadow(4px 4px 3px #b8d1ec);
}
.text-bdark {
    color: #919aa3 !important;
    text-shadow: 5px 5px 8px #b3b9c6;
}
.kris-gradient01 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #29539B 0%, #5899E2 100%);
}
.kris-gradient02 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #5899E2 0%, #29539B 100%);
}
//Msg marqueee
.ho-ev-date {
    border-radius: 3px;
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    padding: 10px 3px;
    margin-right: 10px;
    text-transform: uppercase;
    width: 30%;
    background: #02294e;
    background: -webkit-linear-gradient(to top, #012951, #03294e);
    background: linear-gradient(to top, #012951, #03294e);
}
.ho-ev-date span:first-child {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    line-height: 20px;
    color: #fff;
}
.ho-ev-date span:last-child {
    font-size: 12px;
    color: #fff;
}
.ho-event ul li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
}
.h-blog ul {
    display: grid;
    list-style-type: none;
    background: #fff;
    padding: 0;
}
.ho-ev-link {
    word-break: break-all;
    overflow: hidden;
    text-overflow: clip;
}
.ho-ev-link p {
    font-size: 13px;
    margin-bottom: 2px;
}
.ho-ev-link a {
    font-size: 11px;
}

.card-content {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .knob-container {
    margin: 0 5px;
  }
  
  .small-knob {
    max-width: 75px;
  }

  .duty-container {
    display: flex;
    justify-content: space-between;
}

.duty-item {
    width: 22%;
    background-color: #e2dfdf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.duty-content {
    flex: 1;
    display: grid;
    text-align: center;
}

@media (max-width: 768px) {
    .duty-container {
        flex-direction: column;
    }

    .duty-item {
        width: 100%;
        margin: 5px 0;
    }
}

.btn-list {
    width: 100px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  }
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-radius: 4px;
  }
  .arrow path {
    fill: red
  }
  .btn-list:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .btn-list:active {
    transform: scale(0.97);
  }
  
  table {
      width: 100%;
  }
  table th {
      text-align: left;
      background-color: #374357;
      padding: 7px 5px;
      color: #fff;
  }
  table td {
      border-bottom: 1px solid #e0e0e0;
      padding: 7px 5px;
  }
  
  
  :root {
    --card-color-1: #27A9DC;
    --card-color-2: #D65673;
    --card-color-3: #EFC025;
    --card-color-4: #439B49;
  }
  
  .card-layout {
    width: 180px;
    height: 130px;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    border-color: var(--card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-layout-content {
    font-size: 62px;
    color: var(--card-color);
  }
  
  .background-image{
  width:30px;
  height: 30px;
  border-radius: 50px;
  background-size: auto;
  // background-color: #EFC025;
  }
  
  .recentDuties-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .left-side {
    flex: 0; 
    margin-right: 10px;
  }
  
  .right-side {
    flex: 1;
    text-align: right; 
  }
  
  .background-image {
    max-width: 50px;
    max-height: 50px; 
  }
  
  .viewbutton{
  justify-content: flex-end;
  cursor: pointer;
  }
  
  .container-layout{
    padding-bottom: 15px;padding-top: 15px;
    cursor: pointer;
  }
  
  .container-layout-content{
    display: block;
    text-align: center;
    font-size: 200%;
  }