<div class="seniorOfficer">
    <div class="grid match-height">
        <div class="col-12">
            <div class="card"  style="box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);" >
                <div class="grid mx-0 mt-0" style="border-radius: 8px;">
                    <!-- <div class="col-12 text-center pb-2">
                        <p class="mb-0 font-bold text-lg">User Activities</p>
                    </div> -->
                    <div class="col-12 md:col-4" style="border-radius: 15px;" >
                        <div class="card text-center cp" style="border: solid 0.5px black;" (click)="listView('activeLogin','user','all')">
                          <p class="font-semibold">
                            Active User
                          </p>
                          <div class="card-content">
                            <div class="knob-container">
                                <p>Constable</p>
                              <p-knob [(ngModel)]="value" [strokeWidth]="9" valueColor="#9C58F9" [size]="60" class="knob small-knob"></p-knob>
                              <p>cons:100</p>
                            </div>
                            <div class="knob-container">
                                <p>Inspector</p>
                              <p-knob [(ngModel)]="value3" [strokeWidth]="9" valueColor="#9C58F9" [size]="60" class="knob small-knob"></p-knob>
                              <p>cons:100</p>
                            </div>
                            <div class="knob-container">
                                <p>Senior Officer</p>
                              <p-knob [(ngModel)]="value4" [strokeWidth]="9" valueColor="#9C58F9" [size]="60" class="knob small-knob"></p-knob>
                              <p>cons:100</p>
                            </div>
                          </div>
                        </div>
                      </div>                  
                      
                      
                    <div class="col-12 md:col-4" style="border-radius: 15px;">
                        <!-- routerLink="/main/so/userInact" -->
                        <div class="card text-center cp" style="border: solid 0.5px black;" (click)="listView('inactiveLogin','user','all')">
                            <p class="font-semibold">
                                Inactive User
                            </p>
                            <div class="card-content">
                                <div class="knob-container">
                                    <p>Constable</p>
                                  <p-knob [(ngModel)]="value2" [strokeWidth]="9" valueColor="#05386B" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                                <div class="knob-container">
                                     <p>Inspector</p>
                                  <p-knob [(ngModel)]="value" [strokeWidth]="9" valueColor="#05386B" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                                <div class="knob-container">
                                    <p>Senior Officer</p>
                                  <p-knob [(ngModel)]="value4" [strokeWidth]="9" valueColor="#05386B" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <!-- routerLink="/main/so/user" -->
                        <div class="card text-center cp" style="border: solid 0.5px black;" (click)="listView('notLogin','user','all')">
                            <p class="font-semibold">
                                Never Logged
                            </p>
                            <div class="card-content">
                                <div class="knob-container">
                                    <p>Constable</p>
                                  <p-knob [(ngModel)]="value1" [strokeWidth]="9" valueColor="#4280F7" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                                <div class="knob-container">
                                     <p>Inspector</p>
                                  <p-knob [(ngModel)]="value" [strokeWidth]="9" valueColor="#4280F7" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                                <div class="knob-container">
                                    <p>Senior Officer</p>
                                  <p-knob [(ngModel)]="value3" [strokeWidth]="9" valueColor="#4280F7" [size]="60" class="knob small-knob"></p-knob>
                                  <p>cons:100</p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 md:col-4">
            <div class="card p-0 mb-3">
                <div class="card-header" style="padding: 10px 12px;background: #82DD73;border-top-left-radius: 8px; border-top-right-radius: 8px;">
                    <p class="mb-0 tbold">Today Activities</p>
                    <p class="mb-0 subtitle text-sm">{{myDate | date: 'MMM d, y'}}</p>
                </div>
                <div class="card-body px-3 pt-3">
                    <div class="grid">
                        <div class="col-6 text-center">
                            <div class="py-2 px-3 inline-block" style="background: #E4F1FF;border-radius: 8px;">
                                {{seniorData?.activeBeats}}
                            </div>
                            <p class="my-1 font-size13 color-04">
                                Active Beats
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="py-2 px-3 inline-block" style="background: #E4F1FF;border-radius: 8px;">
                                {{seniorData?.todayCreatedBeats}}
                            </div>
                            <p class="my-1 font-size13 color-04">
                                Created Beats
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="py-2 px-3 inline-block" style="background: #E4F1FF;border-radius: 8px;">
                                {{seniorData?.todayPendingBeats}}
                            </div>
                            <p class="my-1 font-size13 color-04">
                                Pending Beats
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="py-2 px-3 inline-block" style="background: #E4F1FF;border-radius: 8px;">
                                {{seniorData?.todayPendingTasks}}
                            </div>
                            <p class="my-1 font-size13 color-04">
                                Pending Tasks
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="grid match-height">
        <div class="col-12 md:col-6">
            <div class="card p-0" style="border-radius: 0;">
                <div class="card-header" style="padding: 10px 12px;">
                    <p class="mb-0 tbold">DL / RC Check</p>
                </div>
                <div class="card-body flex justify-content-between align-items-center p-2">
                    <div class="w-12">
                        <div class="card">
                            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="card p-0" style="border-radius: 0;">
                <div class="card-header" style="padding: 10px 12px;">
                    <p class="mb-0 tbold">Challan Check</p>
                </div>
                <div class="card-body flex justify-content-between align-items-center p-2">
                    <div class="w-12">
                        <div class="card">
                            <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>