<!-- <div class="layout-footer lg:hidden sm:block md:block py-1 bg-darkblue-777 align-items-center fixed">
    <div class="grid pt-2">
        <div class="col-3">
            <span class="home-span" (click)="gotToHome()"><i class="pi pi-home text-18rem"></i></span>
        </div>
        <div class="col-3" routerLink="/main/reports">
            <span class="home-span"><i class="pi pi-chart-bar text-18rem"></i></span>
        </div>
        <div class="col-3" routerLink="/main/chat">
            <span class="home-span"><i class="pi pi-comments text-18rem"></i></span>
        </div>
        <div class="col-3" >
            <span class="home-span"><i class="pi pi-cog text-18rem"></i></span>
        </div>
    </div>
</div> -->

<!-- #profile   (click)="appMain.onTopbarItemClick($event,profile)"
        [ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile}" -->


<!-- <li #profile class="topbar-item user-profile"
[ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile}">
<a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
    <img src="assets/layout/images/logo-dark.png" alt="freya-layout" />
</a>
<ul class="fadeInDown">
    <li>
        <a >
            <span>{{userName}} - {{roleName}}</span>
        </a>
    </li>
    <li>
        <a >
            <span>Profile</span>
        </a>
    </li> 
    <li >
        <a >
            <span>Settings</span>
        </a>
    </li> 
    <li (click)="resetpassword()">
        <a>
            <span>Reset Password</span>
        </a>
    </li>

    <li (click)="logout()">
        <a>
            <span>Logout</span>
        </a>
    </li>
</ul>
</li> -->