<div *ngIf="active" class="overlay">
    <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
  </div>
  <div
    *ngIf="active"
    class="cdk-overlay-backdrop cdk-overlay-trans-backdrop cdk-overlay-backdrop-showing loading"
  ></div> 
  <p-toast position="top-right" key="bc"></p-toast>
<router-outlet></router-outlet>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>