<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left" style="margin-top: -5px;background: #142D46;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);">
            <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>
            <a tabindex="0" id="logo-link" class="layout-topbar-logo" (click)="appMain.onMenuButtonClick($event)">
            </a>
        </div>

        <app-menu></app-menu>

        <div class="layout-topbar-right">
            <div class="">
                <p class="mb-0 text-white font-bold text-md" style="letter-spacing: 1.4px;">DASHBOARD</p>
                <!-- <span class="color-04 text-sm">Police Updates</span> -->
            </div>
            <ul class="layout-topbar-actions">
                <!-- <li class="topbar-item" *ngIf="isAdmin">
                    <p-button label="Create New User" icon="pi pi-user-plus" styleClass="p-button-sm user-btn" (click)="openForm()"></p-button>
                </li> -->
                <!-- <li #searchItem class="topbar-item search-item" [ngClass]="{'active-topmenuitem': appMain.search}">
                    <a tabindex="0" (click)="appMain.onTopbarItemClick($event,searchItem)">
                        <i class="topbar-icon pi pi-search"></i>
                    </a>

                    <div class="search-input-wrapper">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search "></i>
                            <input type="text" pInputText placeholder="Search..."
                                (click)="appMain.searchClick = true;" />
                        </span>
                    </div>

                    <ul class="fadeInDown">
                        <div class="search-input-wrapper p-fluid" style="width: 100%">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search..."
                                    (click)="appMain.searchClick = true;" />
                            </span>
                        </div>
                    </ul>
                </li>  -->
                <!-- <li #sos class="topbar-item user-profile sosAlert"
                    [ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === sos}">
                    <a (click)="appMain.onTopbarItemClick($event,sos)">
                        <img src="assets/images/sosalert.png" alt="sos-alert" />
                    </a>
                    <ul class="fadeInDown surface-400">
                        <li class="text-50">
                            Need Assistance / Backup.
                        </li>
                        <li>
                            <button pButton pRipple type="button" label="Yes" (click)="showSosDialog()" class="p-button-outlined border-white mr-2 mb-2"></button>
                            <button pButton pRipple type="button" label="No" (click)="close()" class="border-white p-button-outlined mr-2 mb-2"></button>
                        </li>
                    </ul>
                    <p-dialog [(visible)]="displaySOS" position="top" [breakpoints]="{'960px': '75vw', '640px': '80vw'}" [style]="{width: '50vw'}">
                        <div class="text-center">
                            Alert has been sent for Assistance / Backup.
                        </div>
                    </p-dialog>
                </li> -->
                <!-- <li>
                    <a tabindex="0" >
                        <span class="material-symbols-outlined" style="color: var(--text-color);">
                            notifications
                            </span>
                    </a>
                </li> -->
                <li #profile class="topbar-item user-profile"
                    [ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <!-- <i class="pi pi-user font-size16"></i> -->
                        <img  #imageElement src="../assets/icons/Policeman.png" style="cursor: pointer; transition: transform 0.3s ease, z-index 0.3s ease;" 
                        (mouseover)="imageElement.style.transform='scale(1.1)'; imageElement.style.zIndex='1';" 
                        (mouseout)="imageElement.style.transform='scale(1)'; imageElement.style.zIndex='0';">
                        <!-- <mat-icon class="mb-0 pb-0 text-white">account_circle</mat-icon> -->
                        <!-- <img src="assets/images/dashboard/policeUser.png" alt="User" *ngIf="isSHO" />
                        <img src="assets/images/dashboard/soUser.png" alt="User" *ngIf="isAdmin" /> -->
                    </a>
                    <ul class="fadeInDown" style="background-color: #C8E2D6;">
                        <li>
                            <a >
                                <span style="font-size:15px;">{{userName}} - {{roleName}}</span>
                            </a>
                        </li>
                        <li  routerLink="/main/dashboard/profile">
                            <a >
                                <span style="font-size:15px;">Profile</span>
                            </a>
                        </li> 
                        <li (click)="resetpassword()">
                            <a>
                                <span style="font-size:15px;">Reset Password</span>
                            </a>
                        </li>

                        <li (click)="logout()">
                            <a>
                                <span style="font-size:15px;">Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- <a  tabindex="0" class="layout-rightpanel-button" (click)="appMain.onRightPanelClick($event)">
                <i class="pi pi-arrow-left"></i>
            </a> -->
        </div>
    </div>
</div>


<p-dialog header="Reset Password" [(visible)]="ResetModal" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}" (onHide)="resetForm()">
    <div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.currentPassword?.touched && resetPasswordForm?.controls?.currentPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="currentPassword" required>
                    <label htmlFor="inputtext">Old Password</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.currentPassword?.touched && resetPasswordForm?.controls?.currentPassword?.errors?.required) ">
                    Old Password is required
                </small>
            </div>
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.newPassword?.touched && resetPasswordForm?.controls?.newPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="newPassword" required>
                    <label htmlFor="inputtext">New Password</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.newPassword?.touched && resetPasswordForm?.controls?.newPassword?.errors?.required) ">
                    New Password is required
                </small>
            </div>
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.confirmPassword?.touched && resetPasswordForm?.controls?.confirmPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="confirmPassword" required>
                    <label htmlFor="inputtext">Confirm Password</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.confirmPassword?.touched && resetPasswordForm?.controls?.confirmPassword?.errors?.required) ">
                    Confirm Password is required
                </small>
            </div>
            <div class="field col-12">
                <button pButton pRipple type="submit" label="Submit" class="mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="ResetModal=false" label="Close" class="mr-2 mb-2"></button>
            </div>
        </form>
    </div>
</p-dialog>