<div class="menu-wrapper" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}"
     (click)="appMain.onSidebarClick($event)" (mouseover)="appMain.onSidebarMouseOver($event)" (mouseleave)="appMain.onSidebarMouseLeave($event)">
     <span class="" style="position: absolute;right: 0;border-left: 2px solid #A0A0A0;height: 57px;"></span>
    <div class="px-2" style="text-align: center;margin-top: 25px;">
        <img src="../assets/images/TamilNadu Icon.png" alt="flogo" height="60">
        <div class="mb-2">
            <p class="tbold color-10 font-size14 mb-0">TAMIL NADU POLICE</p>
            <p class="font-size12 color-10 mb-0">Smart Traffic Kavalar</p>
        </div>
       
        <!-- <a href="#" class="sidebar-pin" (click)="appMain.onToggleMenu($event)">
            <span class="pin"></span>
        </a> -->
    </div>
    <div class="layout-menu-container md:mt-3">
        <!-- {{roleName}} -->
        <ul class="layout-menu">
            <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"></li>
        </ul>
    </div>
    <!-- <div class="text-center mt-3">
        <p-button label="Sign Out" styleClass="p-button-sm sign-btn" (click)="logout()"></p-button>
    </div> -->
</div>
