<div class="grid">
    <div class="col-12">
        
        <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="card-header" style="background-color:#8484F9; text-align: center; padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;">
                <p class="mb-0 tbold color-02" style="color:white">Duty Items</p>
            </div>
            <div class="card">
              <div class="grid mx-0 mt-0" style="display: flex; justify-content: space-around;">
                <div class="col-12 md:col-2" style="text-align: center;" *ngFor="let item of DutyItems">
                  <div class="item-type">
                    <p class="font-semibold" style="white-space: nowrap;">{{ item.type }}</p>
                  </div>
                  <div class="item-image">
                    <img [src]="item.imageSrc" style="height: 50px;" alt="Inventory Item">
                  </div>
                  <div class="item-count">
                    <p class="font-semibold mt-3" style="white-space: nowrap;">{{ item.count }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex align-items-center justify-content-between mb-2 mt-4">
            <div class="title">
                <p class="mb-0 text-rblue tex-xl font-bold">Duty List</p>
            </div>
            <div class="btn-top">
                <!-- <button pButton label="Back" type="button" class="p-button-info p-button-sm"></button> -->
            </div>
            <div style="justify-content: flex-end;">
              <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
                <mat-option value="all">All</mat-option>
                <mat-option value="VEHICLE_POINT">VEHICLE POINT</mat-option>
                <mat-option value="VIP_ROUTES">VIP ROUTES</mat-option>
                <mat-option value="TRAFFIC_DUTY">TRAFFIC DUTY</mat-option>
                <mat-option value="GENERAL_CHECK">GENERAL CHECK</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card" style="background-color: #18B76B;">
            <app-dynamic-report-table [dynamaicDataForTable]="dynamaicDataForTable" ></app-dynamic-report-table>
        </div>
    </div>
</div>