<div class="layout-footer lg:hidden sm:block md:hidden py-1 bg-blue-300 align-items-center">
    <div class="grid pt-2">
        <div class="col-3">
            <span class="home-span" (click)="gotToHome()"><i class="pi pi-home text-big2"></i></span>
        </div>
        <div class="col-3">
            <span class="home-span"><i class="pi pi-chart-bar text-big2"></i></span>
        </div>
        <div class="col-3">
            <span class="home-span"><i class="pi pi-comments text-big2"></i></span>
        </div>
        <div class="col-3">
            <span class="home-span"><i class="pi pi-cog text-big2"></i></span>
        </div>
    </div>
</div>
