<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <!-- <div>
            <p class="font-bold" style="text-align: center;">{{dutyPoints.locationName}}</p>
        </div> -->
        <div style="display: flex;justify-content: space-around;">
            <mat-card>
                <div class="row">
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Location Name</mat-label>
                        <input matInput placeholder="Location Name" formControlName="locationName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Point Type</mat-label>
                        <mat-select formControlName="pointType" placeholder="Point Type">
                            <mat-option *ngFor="let pointType of pointTypes" [value]="pointType.id">
                                {{ pointType.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Latitude</mat-label>
                        <input matInput placeholder="Latitude" formControlName="latitude">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Longitude</mat-label>
                        <input matInput placeholder="Longitude" formControlName="longitude">
                    </mat-form-field>
                </div>
                <div *ngIf="!editData" class="row">
                    <!-- <button mat-raised-button type="button" (click)="fileInput.click()">Choose
                        File</button>
                    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event, 'file')">
                    <div *ngIf="selectedFile">{{ selectedFile.name }}</div> -->
                    <div class="row col-12">
                        <div class="card p-2">
                            <div class="card-header" style="padding: 8px; border-radius: 8px;">
                                <p class="mb-0 font-weight-bold text-primary">Upload File</p>
                            </div>
                            <div class="card-body p-2" style="display: flex; align-items: center;">
                                <label class="custom-file-upload" for="fileInput" style="cursor: pointer; margin-left: 10px;">
                                    <input type="file" id="fileInput" style="display: none;"
                                    (change)="onFileSelected($event, 'file')" />
                                    Choose File<span class="form-mandatory-field">*</span>
                                </label>
                                <span *ngIf="selectedFile" class="ml-2">{{ selectedFile.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!editData" class="mt-3">
                    <button mat-raised-button color="primary">Submit</button>
                </div>
                <div class="card p-0" style="margin-top: 10px;flex: 0;">
                    <div class="card-header"
                        style="padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;border-bottom: 0.2px solid rgb(87, 82, 82);">
                        <p class="mb-0 tbold color-02">Map</p>
                    </div>
                    <div class="card-body p-2">
                        <app-dynamic-map-edit [latitude]="latitude" [longitude]="longitude"  [locationName]="locationName" (location)="location($event)"></app-dynamic-map-edit>
                    </div>
                </div>
                <div class="col-12 md:col-12" *ngIf="selectedFile && selectedFile?.length > 0">
                    <div class="col-12 md:col-3">
                        <label class="font-bold">Files</label>
                    </div>
                    <div class="grid">
                        <div class="col-12 md:col-4" *ngFor="let value of selectedFile" (click)="viewFiles(value)"
                            style="cursor: pointer;">
                            <div class="px-2 py-3 flex align-items-center justify-content-between"
                                style="flex-shrink: 0; border-radius: 10px; background:#E5F2FF;">
                                <div class="flex align-items-center">
                                    <div class="px-2">
                                        <p class="mb-1 font-bold" style="color: #444444">{{ value.orgFileName }}</p>
                                    </div>
                                </div>
                                <div class="arrowIcon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M10 17L15 12L10 7" stroke="#212121" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</form>