<div class="grid">
    <div class="col-12 pb-0 flex justify-content-between align-items-center">
        <p class="mb-0 text-lg font-bold">Profile Information</p>
        <button pButton label="Back" type="button" *ngIf="isSHO" routerLink="/main/dashboard/" class="p-button-info p-button-sm"></button>
        <button pButton label="Back" type="button" *ngIf="Admin" routerLink="/main/so/" class="p-button-info p-button-sm"></button>
    </div>
    <div class="col-12 md:col-5">
        <div class="card">
            <div class="flex align-items-center">
                <div>
                    <img class="round" src="assets/images/user.png" width="80px" alt="user" />
                </div>
                <div>
                    <h5 class="mb-2 capitalize">{{userData?.username}}</h5>
                    <p class="mb-0 text-green-500 font-bold">{{userData?.roleName}}</p>
                </div>
            </div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td class="fbold text-left">
                                Name
                            </td>
                            <td class="text-right">
                                {{profiledata?.User.firstName}}&nbsp;
                                <!-- {{profiledata?.User.middleName}}&nbsp; -->
                                {{profiledata?.User.lastName}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Email Id
                            </td>
                            <td class="text-right">
                                <span class="text-blue-600"> {{profiledata?.User?.email}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                GPF/CPS No.
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.gpfCpsNo}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Mobile Number
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.phone}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Role
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.rank?.role?.roleName}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                               Rank
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.rank?.rankName}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Police Station
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.policeStation?.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                District
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.district?.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Range
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.range?.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Zone
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.zone?.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                Administration
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.administration?.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold text-left">
                                State
                            </td>
                            <td class="text-right">
                                {{profiledata?.User?.state?.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
