<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <!-- <div>
            <p class="font-bold" style="text-align: center;">{{dutyPoints.locationName}}</p>
        </div> -->
        <div style="display: flex;justify-content: space-around;">
            <mat-card>
                <div class="row">
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Location Name</mat-label>
                        <input matInput placeholder="Location Name" formControlName="locationName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Point Type</mat-label>
                        <mat-select formControlName="pointType" placeholder="Point Type">
                            <mat-option *ngFor="let pointType of pointTypes" [value]="pointType.id">
                                {{ pointType.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Latitude</mat-label>
                        <input matInput placeholder="Latitude" formControlName="latitude">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                        <mat-label>Longitude</mat-label>
                        <input matInput placeholder="Longitude" formControlName="longitude">
                    </mat-form-field>
                </div>
                <div *ngIf="!editMasterId" class="row">
                    <button mat-raised-button type="button" (click)="fileInput.click()">Choose
                        File</button>
                    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event, 'file')">
                    <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
                </div>
                <div class="mt-3">
                    <button mat-raised-button color="primary">Submit</button>
                </div>
                <div class="card p-0" style="margin-top: 10px;flex: 0;">
                    <div class="card-header"
                        style="padding: 8px 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;border-bottom: 0.2px solid rgb(87, 82, 82);">
                        <p class="mb-0 tbold color-02">Map</p>
                    </div>
                    <div class="card-body p-2">
                        <app-dynamic-map-edit (location)="location($event)" [latitude]="latitude"
                            [longitude]="longitude" [locationName]="locationName"></app-dynamic-map-edit>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</form>