<div class="grid">
    <div class="col-12">
        <div class="flex align-items-center justify-content-between mb-2">
            <div class="title">
                <p class="mb-0 text-rblue tex-xl font-bold">Dynamic Vehicle List</p>
            </div>
            <div class="btn-top">
                <button class="add-btn" (click)="openForm()">
                    <svg xmlns="" width="18" viewBox="0 0 20 20" height="18" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#fff"><circle r="7.5" cy="10" cx="10"></circle><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
                    <span class="add-label">Add</span>
                </button>
            </div>
        </div>
        <div class="card">
            <app-dynamic-view-table [dynamaicDataForTable]="dynamaicDataForTable" (pagination)="pagination($event)" (view)="viewRecord($event)"></app-dynamic-view-table>
        </div>
    </div>
</div>