<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Location Name</mat-label>
                    <input matInput placeholder="Location Name" formControlName="locationName" readonly>
                    <mat-error *ngIf="form.get('locationName').invalid && form.get('locationName').touched">
                        Location Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Latitude</mat-label>
                    <input matInput placeholder="Latitude" formControlName="latitude" readonly>
                    <mat-error *ngIf="form.get('latitude').invalid && form.get('latitude').touched">
                        Latitude is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding: 5px;" class="mb-2">
                    <mat-label>Longitude</mat-label>
                    <input matInput placeholder="Longitude" formControlName="longitude" readonly>
                    <mat-error *ngIf="form.get('longitude').invalid && form.get('longitude').touched">
                        Longitude is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" style="padding: 5px; width: 100%;" class="mb-2">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    <mat-error *ngIf="form.get('description').invalid && form.get('description').touched">
                        Description is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="grid match-height">
                <div class="row col-6">
                    <div class="card p-2">
                        <div class="card-header" style="padding: 8px; border-radius: 8px;">
                            <p class="mb-0 font-weight-bold text-primary">Upload File</p>
                        </div>
                        <div class="card-body p-2" style="display: flex; align-items: center;">
                            <label class="custom-file-upload" for="fileInput"
                                style="cursor: pointer; margin-left: 10px;">
                                <input type="file" id="fileInput" style="display: none;"
                                    (change)="onFileSelected($event)" />
                                Choose File<span class="form-mandatory-field">*</span>
                            </label>
                            <span *ngIf="selectedFile" class="ml-2">{{ selectedFile.name }}</span>
                            <span *ngIf="fileError" class="text-danger ml-2" style="color: red;">{{ fileError }}</span>
                        </div>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="card p-2">
                        <div class="card-header" style="padding: 8px; border-radius: 8px;">
                            <p class="mb-0 font-weight-bold text-primary">Record Audio</p>
                        </div>
                        <div class="card-body p-2 main">
                            <label class="label">
                                <mat-icon class="circle-icon" (click)="toggleRecording()">{{ isRecording ?
                                    'stop' :
                                    'mic' }}</mat-icon>
                                <span class="arrow">
                                    <mat-icon style="font-size: 35px;" (click)="togglePlay()">
                                        {{ audio && !audio.paused ? 'pause' : 'play_arrow' }}
                                    </mat-icon>
                                </span>
                                <mat-icon style="font-size: 35px; color: red;" (click)="deleteAudio()">delete</mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
            <div class="card p-0 mt-3">
                <div class="card-header" style="padding: 8px; border-radius: 8px;">
                    <p class="mb-0 font-weight-bold text-primary">Map</p>
                </div>
                <div class="card-body p-2">
                    <app-dynamic-map-edit (location)="location($event)"></app-dynamic-map-edit>
                </div>
            </div>
        </div>
    </div>
</form>