 
<div class="grid">
	<div class="col-12 md:col-6 lg:col-4"> 
		<div class="card p-fluid">
			<div class="field">
                <div class="text-center">
                    <h5>Explore Area</h5>
                </div>
				<!-- <app-dynamic-form [jsonFormData]="formData" (emitCancel)="cancel()" (emitSave)="submit($event)"  ></app-dynamic-form> -->
                <div class="col-12">
                    <span class="p-float-label">
                    <p-dropdown [options]="data" [(ngModel)]="selectedData" optionLabel="name" [autoDisplayFirst]="false"> </p-dropdown>
                    <label for="dd">Select Category</label>
                    </span>
                </div>
                <div class="col-12 py-1">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2024912202996!2d80.26938631452597!3d13.022773490822322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52687fe627e619%3A0x3468715af846c949!2sState%20Crime%20Records%20Bureau!5e0!3m2!1sen!2sin!4v1650570584160!5m2!1sen!2sin"
                    height="320" style="border:0;width: 100%;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-12 text-center">
                    <button pButton pRipple type="button" label="Go to Home" (click)="cancel()" class="p-button-outlined p-button-secondary"></button>
                </div>
            </div> 
		</div>
	</div>	 
</div>
