<div class="grid">
	<div class="col-12 flex justify-content-between align-items-center pb-0">
        <h5 class="mb-0"><img src="assets/images/backarrow.png" height="20" class="pr-2 cp pt-1" (click)="cancel()">Broadcast Message</h5>
		<div>
			<!-- <p-button label="Back" icon="pi pi-arrow-left" styleClass="p-button-sm p-button-primary" (click)="cancel()"></p-button> -->
		</div>
    </div>
	<div class="col-12 md:col-6"> 
		<div class="card border5 pt-5">
			<app-dynamic-form [jsonFormData]="formData" (emitCancel)="cancel()" (emitSave)="submit($event)" ></app-dynamic-form>
		</div>
	</div>
</div>